{% extends 'base.html.twig' %}

{% block title %}New Parser
{% endblock %}

{% block body %}
	<div class="container-md my-5">
		<div class="row">
			<div class="col-12 border-bottom mb-3">
				<div class="d-flex align-items-center">
					<h3>
						<strong>News Parser</strong>
					</h3>
					<a class="ms-auto btn btn-primary btn-sm" href="{{ path('logout') }}">Logout</a>
				</div>
			</div>

			<div class=" col-12 mb-4">
				<h6 class="mb-4">
					<strong>Use the command below to start parsing</strong>
				</h6>
				<code style="padding: 20px; background: #f0f0f0a3; border-radius: 5px;">
					$ docker-compose exec php symfony console app:parse-news
				</code>
			</div>

			{% set _currentPage = app.request.query.get('page') ?: 1 %}
			{% set _currentRoute = app.request.get('_route') %}
			{% set _lastPage = paginator.lastPage %}
			{% set _currentParams = app.request.query.all|merge(app.request.get('_route_params')) %}

			<div class="col-12 mb-2">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th scope="col">Image</th>
							<th scope="col">Title</th>
							<th scope="col">Description</th>
							<th scope="col">Post on</th>
							<th scope="col">Last update</th>
							{% if is_granted('ROLE_ADMINISTRATOR') %}
								<th scope="col">Action</th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for key, article in paginator.items %}
							<tr>
								<td>{{ key + 1 }}</td>
								<td>
									<div class="article-image">
										<img src="{{ article.picture }}" class="img-thumbnail">
									</div>
								</td>
								<td>{{ article.title }}</td>
								<td>{{ article.shortDescription | raw }}</td>
								<td>{{ article.dateAdded | date("m/d/Y") }}</td>
								<td>{{ article.lastUpdated | date("m/d/Y") }}</td>
								{% if is_granted('ROLE_ADMINISTRATOR') %}
									<td>

										<form method="post" action="{{ path('delete_article', {'id': article.id, 'page': _currentPage}) }}">
											<input type="hidden" name="_method" value="DELETE">
											<input type="hidden" name="_token" value="{{ csrf_token('delete_article' ~ article.id) }}">
											<button type="submit" class="btn btn-danger btn-sm">Delete</button>
										</form>

									</td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			{% if paginator.lastPage > 1 %}
				<div class="col-12">
					<div class="btn-group">
						<a href="{{ path(_currentRoute, _currentParams|merge({page: _currentPage - 1})) }}" class="btn btn-primary{{ _currentPage <= 1 ? ' disable-btn' : '' }}">Prev Page</a>
						<a href="{{ path(_currentRoute, _currentParams|merge({page: _currentPage + 1})) }}" class="btn btn-primary{{ _currentPage >= paginator.lastPage ? ' disable-btn' : '' }}">Next Page</a>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
